.resultsBox {
  margin: 0px auto;
}

.questionResult .badge {
  font-size: 0.9em;
}

.play-again-link {
  padding: 0px;
}

.progress {
  position: relative;
}

.progress-bar>span {
  position: absolute;
  left: 0px;
  width: 100%;
  font-size: 125%;
}

.label {
  font-size: 90%;
  line-height: 2;
}
