<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse"
      data-target="#f1-navbar-collapse" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <div></div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="f1-navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/quizSettings', 'winnerQuiz']">Race Winner Quiz</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/quizSettings', 'polePositionQuiz']">Pole Position Quiz</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/quizSettings', 'worldChampionQuiz']">World Champion Quiz</a>
        </li>
        <!--<li routerLinkActive="active">
          <a class="nav-link" routerLink="/statistics">Statistics</a>
        </li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>
